.BarcodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(216, 235, 242);
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  color: rgb(0, 0, 0, 0.7);
}
.InputStyle {
  width: 100px;
}
