.RiportoContainer {
  margin-right: 20%;
  margin-left: 20%;
  border-style: solid;
  border-width: 1.5px 0px 1.5px 0px;
  border-color: rgba(55, 84, 152);
  padding-top: 2px;
  padding-bottom: 4px;
}
.BodyContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: rgba(180, 206, 211);
  margin-bottom: 3px;
}
.BottomBodyRiporto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FooterContainer {
  background-color: rgba(216, 235, 242);
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerButton {
  background-color: rgba(60, 144, 211);
  height: 30px;
  color: white;
  margin-right: 20px;
}
.InputClassStyleRiporto {
  width: 650px;
  height: 25px;
  background-color: rgba(239, 239, 239);
}
.BottomBodyInputStyle {
  width: 270px;
  height: 25px;
  background-color: rgba(239, 239, 239);
}
.InputTitleClass {
  padding-right: 25px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
