.ChiusuraContainer {
  margin-right: 20%;
  margin-left: 20%;
  border-style: solid;
  border-width: 1.5px 0px 1.5px 0px;
  border-color: rgba(55, 84, 152);
  padding-top: 2px;
  padding-bottom: 4px;
}
.BodyContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: rgba(180, 206, 211);
  margin-bottom: 3px;
}
.FooterContainer {
  background-color: rgba(216, 235, 242);
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.BottomBodyChiusura {
  display: flex;
  flex-direction: column;
  background-color: rgba(216, 235, 242);
  justify-content: center;
}
.InputChiusuraStyle {
  width: 650px;
  height: 25px;
  background-color: rgba(239, 239, 239);
}
.InputChiusuraBottomStyle {
  width: 500px;
  height: 20px;
}
.BottomButtonStyle {
  align-items: center;
  justify-content: center;
}
